@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    background-color:whitesmoke;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    position:fixed;
    top:0;
    left:0;
    z-index: 80;
    width: 100vw;
    border-bottom: solid 1px dimgray;
    background-color: rgba(251, 250, 251, 0.7);
}

header div{
    margin: 20px;
    font-size: 50px;
    font-family: 'Caveat', cursive;
}

.profile {
    width: 370px;
    height: 370px;
    margin: 60px;
    object-fit: cover;
    border-radius: 50%;
}

ul {
    display: flex;
    align-items: center;
    height: 40px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    margin-top: 100px;
}

.sub {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 50%;
}

li {
    margin-right: 40px;
    padding: 10px;
    list-style: none;
    cursor: pointer;
    border-bottom: solid 1px slategray;
}

li:hover {
    opacity: 0.5;
    background-color: slategray;
}

.myname {
    font-weight: normal;
    font-size: 22px;
    width: 50%;
    font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" ,"HiraMinProN-W3";
}

.mytext {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 16px;
    border: double 2px dimgray;
    width: 70%;
    height: 40%;
    padding: 30px;
    line-height: 26px;
    font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro";
}

.keizoku {
    text-decoration: none;
}

.keizoku:link, .keizoku:visited, .keizoku:hover, .keizoku:active {
    color: black;
  }

.main2 {
    font-weight: normal;
    margin-top: 180px;
    margin-bottom: 270px;
    font-size: 38px;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" ,"HiraMinProN-W3";
    text-shadow: 6px 8px 20px slategray;
    pointer-events: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 50px;
    background-color: #1C161E;
    opacity: 0.95;
}

.co{
    padding-top: 2px;
    font-size: 16px;
    text-align: center;
    font-weight: lighter;
    color: snow;
    font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" ,"HiraMinProN-W3";
}

.ccc {
    padding-top: 2px;
    padding-right: 5px;
    font-size: 24px;
    text-align: center;
    font-weight: lighter;
    color: snow;
    font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" ,"HiraMinProN-W3";
}

/* javaScript */

#overlay {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background: rgba(255,255,255,0.95);
    text-align: center;
    padding-top: 150px;
    opacity: 0;
    pointer-events: none;
    transition: opacity .6s;
    font-family: "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" ,"HiraMinProN-W3";
    font-size: 50px;
    color: lightslategray;
}

#overlay.show{
    opacity: 1;
    pointer-events: auto;
}

#close {
    position: absolute;
    top:50px;
    right:48%;
    cursor: pointer;
    font-size: 38px;
}

.link {
    display: flex;
    justify-content: center;

}

.insta {
    padding-top: 30px;
    margin-left: 325px;
    width: 15%;
    text-decoration: none;
}

.twitter {
    padding-top: 43px;
    margin-right: 300px;
    width: 15%;
    text-decoration: none;
}

/* animation */
#animate {
    opacity: 0;
}

#animate.appear{
    opacity: 1;
    pointer-events: all;
}

.focus-in-expand {
	-webkit-animation: focus-in-expand 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand 1.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-6-24 20:23:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
